.page_two_item1 {
    position: absolute;
    z-index: -1;
    width: 1128px;
    left: 487px;
    top: 160px;
    opacity: 0;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.page_two_item2 {
    position: absolute;
    z-index: -1;
    width: 720px;
    left: 706px;
    top: 159px;
    opacity: 0;
    animation-duration: 2.3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.page_two_item3 {
    position: absolute;
    z-index: -1;
    position: absolute;
    z-index: -1;
    width: 420px;
    left: 830px;
    top: 134px;
    opacity: 0;
    animation-duration: 2.3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}
.spermA{
    animation-name: animSperm1;

}
@keyframes animSperm1 {
    0% {
        transform: translate(0px, 0px) ;
        opacity: 0;
    }
    100% {
        transform: translate(-120px, -60px) ;
        opacity: 0.5;
    }
  
}





.page_two_item4 {
    position: absolute;
    z-index: -1;
    width: 720px;
    left: 1002px;
    top: 472px;
    opacity: 0;
    animation-duration: 2.3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    z-index: -3;
}

.page_two_item5 {
    position: absolute;
    z-index: -1;
    left: 1012px;
    top: 578px;
    width: 297px;
    opacity: 0;
    animation-duration: 2.3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}